
.wrapper {
  overflow: hidden;
  max-height: 900px;
}

.content {
  width: 100vw;
  max-width: 375px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #ddd;
  margin: 14px 0;
}

/* HERO */

.heroWrapper {
  width: 100%;
  height: 210px;
  position: relative;
  background-color: black;
}

.heroImage {
  width: 100%;
  height: 210px;
  object-fit: cover;
}

.newBadge {
  background: #f33232;
  padding: 4px 8px;
  border-radius: 4px;
  color: white;
  font-size: 10px;
}

/* ACTION ROW */

.actions {
  display: flex;
  justify-content: space-around;
  padding-top: 16px;
}

.actionItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  color: #777;
  gap: 4px;
  background: transparent;
  border: none;
}

/* BODY */

.title {
  font-size: 20px;
  margin: 0;
  text-align: center;
}

.subtitle {
  color: #999;
  font-size: 13px;
  margin-top: 6px;
  text-align: center;
}

.infoRow {  
  align-items: center;
  display: flex;
  font-size: 14px;
  padding: 0 8px;
  gap: 8px;
  margin-top: 14px;
}

.infoIcon {
  align-items: center;
  display: flex;
  height: 20px;
  justify-content: center;
  width: 20px;
}

.dealCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 8px;
}

.dealMain {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.dealDiscount {
  font-size: 14px;
  font-weight: 600;
  color: #f33232;
}

.dealSub {
  font-size: 12px;
  color: #666;
}

.dealQuantity {
  font-size: 12px;
  color: #aaa;
}

.redeemButton {
  padding: 0 12px;
  height: 32px;
  border-radius: 20px;
  border: 2px solid #f33232;
  color: #f33232;
  background: white;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}
